/* Compass */
@import "compass";

/* Variables */
$default-transition-duration: 0.6s;
$primary-color: #f39c12;
$color-red: #e74c3c;

/* Base */
@import "base/base";

/* Layout */
@import "layout/grid";

/* Modules */
@import "module/header";
@import "module/button";
@import "module/section";
@import "module/icon";