.progress {

    margin-bottom: 30px;

    &-title{
        font-size: 16px;
        line-height: 40px;
    }
    &-description{
        font-weight: 700;
        color: #0d0d0d;
        text-transform: uppercase;
    }
    &-separator {
        color: #bfbfbf;
        font-weight: 600;
    }
    &-percentage {
        font-weight: 300;
        color: #0d0d0d;
    }
    &-bar {
        height: 10px;
        background-color: #e6e6e6;
        position: relative;
        span {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: $primary-color;
        }
    }
}